.contenedor {
  padding: 0 30px 30px;
}

h2 {
  margin-bottom: 10px;
}

section {
  background-color: rgba(128, 128, 128, 0.212);
  border-radius: 5px;
  padding: 15px;
  margin-top: 30px;
}

.mensage {
  margin-top: 20px;
}
