.contenedor {
  padding: 0 30px 30px;
}

h2 {
  margin-bottom: 10px;
}

section {
  background-color: rgba(128, 128, 128, 0.212);
  border-radius: 5px;
  padding: 15px;
  margin-top: 30px;
}

.item-listado:hover {
  background-color: rgb(93, 189, 93);

}

a:hover {
  color: white;
  text-decoration: none;
}
