.contenedor {
  padding: 0 30px 30px;
}

h1 {
  margin-top: 20px;
}

h2 {
  margin-bottom: 10px;
}

section {
  background-color: rgba(128, 128, 128, 0.212);
  border-radius: 5px;
  padding: 15px;
  margin-top: 30px;

  a:hover {
    color: darkblue;
    text-decoration: none;
  }

}

.item-listado:hover {
  background-color: rgb(223, 226, 223);

}


.imagen-listado {
  max-width: 100px;
}
